@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 140%;
  src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
  /* font-family: 'CORBEL'; */
  font-family: 'Open Sans', 'CORBEL';
  font-style: normal;
  font-size: 16pt;
}
:root{
  --main: #841844;
  --text: #2c145e;
  --dop: #9b407a;
  --data: #ecf2f5;
  --data-text: #6c6e7b;
}
h2{
  letter-spacing: 2pt;
}

header span{
  letter-spacing: 2pt;
  font-size: 21pt;
  color: var(--text);
}


.info{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  h2{
    font-size: 45pt;
  }
  p{
    font-size: 23pt;
  }
}
.content{
  h2{
    font-size: 46pt;    
  }
}
.box:hover{
  cursor: pointer;
  h3{
    color: var(--main);
  }
  .about{
    color: white;
    background-color: var(--main);
  }
}
.data{
  color: var(--data-text);
  background: var(--data);
}
.about{
  font-size: 12pt;
  font-weight: bold;
  color: var(--main);
  background: none;
}
.line{
  color: var(--main);
  button{
    color: var(--main);
    font-size: 20pt;
  }
  button:hover{
    color: white;
    background-color: var(--main);
  }
}
.line .check{
  color: white;
  background-color: var(--main);
}

footer{
  font-size: 17pt;
  font-weight: bold;
  letter-spacing: 0.5pt;
}